@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<html ng-app="angularFormsApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    @Styles.Render("~/bundles/mini-spa/style")
    @Scripts.Render("~/bundles/mini-spa/script")
</head>
<body class="container">
    <div ng-view>
    </div>
</body>
</html>
